nav {
    height: 50px;
    background-color: lightgrey;
  }
  .inline-block {
    padding: 15px;
    display: inline-block;
    background-color: darkgrey;
    color: black;
  }
  .left {
    float: left;
    height: 789px;
    background-color: #C6C6C6;
    width: 29%;
    text-align: center;
  }
  .right {
    float: left;
    background-color: #C6C6C6;
    height: 500px;
    width: 70%;
    text-align: center;
    border: 2px solid black;
  }
  
  .cardbottom{
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin: 35px;
    margin-top: 50px;
  }

.column2 {
    background-color: #C6C6C6;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    height: 77%;
}

.column1 {
    background-color: #C6C6C6;
    border: 2px solid black;
    height: 30%;
}

.top {
    background-color: #C6C6C6;
    border: 1px solid black;
    display: block;
    float: inline;
}

.cardtop {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 150px;
    margin: 35px;
    margin-top: 50px;
}

h2 {
    text-align: center;

}

.para {
    text-align: center;
    display: inline-block;
    position: absolute;
    padding-right: 40px;
}